:root {
  /* Colors */
  --primary-color: #08A6E4;
  --secondary-color: #A5A5A5;
  --hover-color: #000;

  /* Fonts */
  --font-primary: "Raleway";
  --font-secondary: "Open Sans";
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 1352px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo, .header-nav a {
  text-decoration: none;
}

.logo {
  color: var(--primary-color);
  font: 300 32px/37px var(--font-primary);
}

.header-nav {
  display: flex;
}

.header-nav a {
  color: var(--secondary-color);
  font: bold 11px/15px var(--font-secondary);
  text-transform: uppercase;
  padding: 28px 40px;
  letter-spacing: 0.1875rem;
}

.header-nav li {
  padding: 25px 0;
  border-bottom: 4px solid transparent;
}

.header-nav li:hover {
  border-bottom-color: var(--primary-color);
}

.header-nav a:hover {
  color: var(--hover-color);
}

/* Main Opening */

.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.opening_content {
  margin-top: 100px;
  text-align: center;
}

.opening_h1 {
  font-family: var(--font-primary);
  font-size: 45px;
}

.opening_p {
  margin-top: 20px;
  margin-bottom: 38px;
  font: normal normal normal 16px/22px "Open Sans";
}

.opening_btn {
  font: normal normal bold 16px/22px "Open Sans";
  color: white;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 22px 155px;
  background-color: var(--primary-color);
  border-radius: 35px;
  box-shadow: 5px 10px 14px #07ACE629;
}

.opening_image {
  background-size: cover;
  width: 100%;
}